[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
[core]
	editor = /home/armax/bin/vim
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[include]
  path = ~/.gitconfig.local
